.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

.hero, .introduction {
  display: flex;
  align-items: left;
  margin: 100px 70px;
  text-align: left;
}

.presentation-btn {
  width: 120px;
  height: 40px;
}

.presentation-btn > a {
  text-decoration: none;
}