.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.field {
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0.3em;
}

.error-message {
  color: #FF0000;
  margin-block-start: -10px;
}